@import '../../../sass/_variables'

:host
  display: flex
  flex-flow: row
  justify-content: center
  flex-grow: 1
  width: 100%
  height: 100%

.register-container
  width: 100%
  height: auto
  display: flex
  flex-flow: column
  .register-title
    min-height: $rem*4
  .register-form
    .radio-group
      display: flex
      flex-flow: row
      width: 100%
      height: auto
    .error-message
      color: $accent
      font-style: italic
  .register-footer
    display: flex
    flex-flow: row
    width: inherit
    .radio-field

@media (min-width: $query-small)
  .register-container
    max-width: 600px