<div class="register-container">
  <h1 class="register-title">register</h1>
  <form class="register-form">
    <label class="input-field mt1">
      <span>username</span>
      <input type="text" placeholder="username" spellcheck="false">
    </label>
    <label class="input-field mt1">
      <span>mail</span>
      <input type="email" placeholder="mail" spellcheck="false">
    </label>
    <label class="input-field mt1">
      <span>password</span>
      <input type="password" placeholder="password" spellcheck="false">
    </label>
    <label class="input-field mt1">
      <span>retype</span>
      <input type="password" placeholder="retype" spellcheck="false">
    </label>
    <label class="input-field mt1">
      <span>fullname</span>
      <input type="text" placeholder="fullname" spellcheck="false">
    </label>
    <label class="input-field mt1">
      <span>age</span>
      <input type="number" placeholder="age" spellcheck="false">
    </label>
    <label class="input-field mt1">
      <span>height</span>
      <input type="number" placeholder="height" spellcheck="false">
    </label>
    <label class="input-field mt1">
      <span>current weight</span>
      <input type="number" placeholder="current weight" spellcheck="false">
    </label>
    <label class="input-field mt1">
      <span>target weight</span>
      <input type="number" placeholder="target weight" spellcheck="false">
    </label>
    <label class="input-field mt1">
      <span>change per week</span>
      <input type="number" placeholder="change per week" spellcheck="false">
    </label>
    <div class="radio-group mt1">
      <label class="radio-field">
        <input type="radio" name="gender" value="male">
        <span>male</span>
      </label>
      <label class="radio-field">
        <input type="radio" name="gender" value="female">
        <span>female</span>
      </label>
    </div>
    <button class="mt1" type="submit">register</button>
  </form>
  <div class="register-footer mt05">
    <a href="#">login</a>
  </div>
</div>