<div class="register-container">
  <h1 class="register-title light" getfitTypewriter initialText={{formTitle}} 
    targetText="register" (textChanged)="onTextChanged($event)">{{formTitle}}</h1>
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
    <label class="input-field light mt1">
      <span>username</span>
      <input formControlName="userName" type="text" placeholder="username" spellcheck="false">
    </label>
    <label class="input-field light mt1">
      <span>mail</span>
      <input formControlName="mail" type="email" placeholder="mail" spellcheck="false">
    </label>
    <label class="input-field light mt1">
      <span>password</span>
      <input formControlName="password" type="password" placeholder="password" spellcheck="false">
    </label>
    <label class="input-field light mt1">
      <span>retype</span>
      <input formControlName="retype" type="password" placeholder="retype" spellcheck="false">
    </label>
    <label class="input-field light mt1">
      <span>fullname</span>
      <input formControlName="fullName" type="text" placeholder="fullname" spellcheck="false">
    </label>
    <label class="input-field light mt1">
      <span>age</span>
      <input formControlName="age" type="number" placeholder="age" spellcheck="false">
    </label>
    <label class="input-field light mt1">
      <span>height</span>
      <input formControlName="height" type="number" placeholder="height" spellcheck="false">
    </label>
    <label class="input-field light mt1">
      <span>current weight</span>
      <input formControlName="currentWeight" type="number" placeholder="current weight" spellcheck="false">
    </label>
    <label class="input-field light mt1">
      <span>target weight</span>
      <input formControlName="targetWeight" type="number" placeholder="target weight" spellcheck="false">
    </label>
    <label class="input-field light mt1">
      <span>change per week</span>
      <input formControlName="changePerWeek" type="number" placeholder="change per week" spellcheck="false">
    </label>
    <div class="select-container mt1" [ngStyle]="optionsShown ? {'height': '240px'} : {'height': '40px'}">
      <div class="select-header" (click)="toggleOptions()">
        <p>{{selectedActivity.key}}</p>
        <p class="toggler">{{optionsShown ? '-' : '+'}}</p>
      </div>
      <div class="select-options" *ngIf="optionsShown">
        <div *ngFor="let option of activityRatings | keyvalue" class="option" (click)="changeActivity(option)">
          <p>{{option.key}}</p>
          <p>{{option.value}}</p>
        </div>
      </div>
    </div>
    <div class="radio-group mt1">
      <label class="radio-field light">
        <input formControlName="gender" type="radio" name="gender" value="male">
        <span>male</span>
      </label>
      <label class="radio-field light">
        <input formControlName="gender" type="radio" name="gender" value="female">
        <span>female</span>
      </label>
    </div>
    <p class="error-message mt1">{{errorMessage}}</p>
    <button [disabled]="!registerForm.valid" class="light mt1" type="submit">register</button>
  </form>
  <div class="register-footer mt05">
    <a class="light" (click)="navigateTo('login')">login</a>
  </div>
</div>