@import '../../../../sass/_variables'

.mr05
  margin-right: $rem*0.5
.ml05
  margin-left: $rem*0.5  

.settings-wrapper
  position: relative
  width: 100vw
  height: auto
  .settings-header
    position: sticky
    top: 0
    background: $darkest
    display: flex
    justify-content: center
    width: 100%
    height: 80px
    margin-bottom: $rem
    .header-content
      display: flex
      width: 100%
      height: auto
      flex-flow: row
      justify-content: space-between
      align-items: center
      padding: $rem*0.5
      .user-image
        width: 62px
        height: 62px
        border-radius: 50%
        border: 2px solid $lightest-medium
      .settings-toggler
        cursor: pointer
        path
          fill: $lightest-medium
          transition: all 0.35s ease-in-out
      .settings-toggler:hover
        path
          fill: $accent
  .settings-container
    z-index: 50
    position: absolute
    display: flex
    flex-flow: column
    align-items: center
    top: 0
    left: 0
    background: $darkest
    min-width: 100vw
    max-width: 100vw
    min-height: 100vh
    padding: $rem*2 $rem
    .settings-form
      width: 100%
      flex-grow: 1
      .header-content
        display: flex
        width: 100%
        .user-image
          position: relative
          img
            width: $rem*6
            height: $rem*6
            border-radius: 50%
          .edit-button
            cursor: pointer
            position: absolute
            top: 0
            left: 0
            z-index: 40
            input
              display: none
            path
              fill: $accent
        .user-info
          padding-left: $rem
          display: flex
          flex-flow: column
          p
            color: $lightest-medium
            font-style: italic
      form
        .section-title
          display: flex
          justify-content: space-between
          width: 100%
          height: auto
          cursor: pointer
          .toggler
            color: $lightest-medium
        .section-body
          transform: scaleY(1)
          height: fit-content
        .section-body.hide
          transform: scaleY(0)
          height: 0px
      p
        cursor: pointer
    .settings-footer
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      border-bottom: 2px solid $lightest-medium
      .settings-toggler
        margin: $rem $rem*0.5 $rem*0.5 $rem*0.5
        cursor: pointer
        line
          stroke: $lightest-medium
          transition: all 0.35s ease-in-out 
      .settings-toggler:hover
        line
          stroke: $accent

  .modulo-container
    display: flex
    justify-content: center
    position: absolute
    width: 100%
    top: 0
    left: 0
    .modulo-background
      min-width: 100vw
      min-height: 100vh
      background: $darkest
      padding: $rem
      z-index: 80
      opacity: 0.75
      position: absolute
      top: 0
      left: 0
    .modulo-content
      width: 100%
      min-height: 100vh
      z-index: 99
      display: flex
      justify-content: center
      align-items: flex-start
      padding: $rem*2 $rem $rem $rem
      .modulo
        width: 100%
        height: auto
        background: $accent
        box-shadow: $shadow
        padding: $rem
        .modulo-header
          width: 100%
          display: flex
          h4
            user-select: none
            cursor: pointer
        .button-group
          width: 100%
          display: flex
          justify-content: space-between

@media (min-width: $query-small)
  .header-content
    max-width: 600px
  .settings-container
    .settings-form
      max-width: 600px
    .settings-footer
      max-width: 600px
  .modulo-container *
    max-width: 600px