<div *ngIf="overlayState === 'open'" class="search-overlay-wrapper" @toggleOverlay>
  <div class="search-overlay-container">
    <div class="search-overlay-header">
      <h3 class="title-line-1">Add<span>{{searchValue}}</span>to</h3>
      <h3 class="title-line-2">Section Title</h3>
      <h3 class="title-line-3">Section</h3>
    </div>
    <div class="search-overlay-content">
      <form [formGroup]="searchForm" *ngIf="addState === 'search'">
        <label class="checkbox-field mt1">
          <input type="checkbox">
          <span>recipe</span>
        </label>
        <label class="input-field mt1">
          <span>add food item</span>
          <input (input)="onInputChange($event)" formControlName="search" type="text" placeholder="add food item" spellcheck="false">
        </label>
        <div *ngIf="searchResults !== 'empty' && searchValue !== ''" class="search-result-container">
          <div *ngFor="let item of searchResults;" class="search-result" (click)="addDetails(item)">
            <p class="result-name">{{item.itemname}}</p>
            <p class="result-type">recipe</p>
          </div>
        </div>
      </form>
      <form [formGroup]="detailForm" *ngIf="addState === 'details'" (ngSubmit)="addItem()">
        <div class="input-field-container mt1">
          <label class="input-field">
            <span>amount</span>
            <input formControlName="amount" type="number" placeholder="amount" spellcheck="false">
          </label>
          <label class="input-field">
            <span>unit</span>
            <input formControlName="unit" type="text" placeholder="unit" spellcheck="false">
          </label>
        </div>
        <button class="mt1" type="submit">add item</button>
      </form>
      <ul *ngIf="addedItems !== []" class="added-item-container mt1">
        <li @addedItem *ngFor="let item of addedItems" class="added-item">
          <div class="result-content">
            <p class="result-name">{{item.amount}}{{item.unit}} {{item.content.id}}</p>
          </div>
          <p class="result-control" (click)="removeItem(item)">X</p>
        </li>
      </ul>
    </div>
    <div class="search-overlay-footer">
      <svg (click)="closeSearch()" class="toggler" width="28" height="28" viewBox="0 0 28 28">
        <line class="toggler-line" x1="1.29289" y1="26.7487" x2="26.7487" y2="1.29286" stroke="#112031" stroke-opacity="1" stroke-width="3"/>
        <line class="toggler-line" x1="26.7488" y1="27.1629" x2="1.29292" y2="1.70707" stroke="#112031" stroke-opacity="1" stroke-width="3"/>
      </svg>  
    </div>
  </div>
</div>
