<div *ngIf="overlayState === 'open'" class="search-overlay-wrapper" @toggleOverlay>
  <div class="search-overlay-container">
    <div class="search-overlay-header">
      <h3 class="title-line-1">Add<span>{{searchValue}}</span>to</h3>
      <h3 class="title-line-2">{{overlaySection}}</h3>
      <h3 class="title-line-3">Section</h3>
    </div>
    <div class="search-overlay-content">
      <form [formGroup]="searchForm" *ngIf="formState === 'search'">
        <label class="checkbox-field mt1">
          <input type="checkbox">
          <span>recipe</span>
        </label>
        <label class="input-field mt1">
          <span>add food item</span>
          <input (input)="onInputChange($event)" formControlName="search" type="text" placeholder="add food item" spellcheck="false">
        </label>
        <div *ngIf="searchResults.length > 0 && searchValue !== ''" class="search-result-container">
          <div *ngFor="let item of searchResults;" class="search-result" (click)="addDetails(item)">
            <p class="result-name">{{item.itemname}}</p>
            <p class="result-type">recipe</p>
          </div>
        </div>
      </form>
      <form class="detail-form" [formGroup]="detailForm" *ngIf="formState === 'details'" (ngSubmit)="addEntry()">
        <div class="input-field-container mt1">
          <label class="input-field">
            <span>amount</span>
            <input formControlName="amount" type="number" placeholder="amount" spellcheck="false">
          </label>
          <div class="select-container mt1" [ngStyle]="optionsShown ? {'height': '200px'} : {'height': '40px'}">
            <div class="select-header" (click)="toggleOptions()">
              <p>{{selectedUnit}}</p>
              <p class="toggler">{{optionsShown ? '-' : '+'}}</p>
            </div>
            <div class="select-options" *ngIf="optionsShown">
              <div *ngFor="let option of units; let i = index" class="option" (click)="selectUnit(option)">
                <p>{{option}}</p>
              </div>
            </div>
          </div>
        </div>
      </form>
      <ul *ngIf="addedItems.length > 0" class="added-item-container mt1">
        <li @addedItem *ngFor="let entry of addedItems" class="added-item">
          <div class="result-content">
            <div class="result-data">
              <p class="result-name">{{entry.amount}}{{entry.unit}} {{getItemName(entry)}}</p>
              <p>{{
                (entry.unit === 'g' ? getItem(entry).perg * entry.amount : 
                (entry.unit === 'ml' ? getItem(entry).perml * entry.amount : 
                (entry.unit === 'EL' ? getItem(entry).perel * entry.amount : '0'))) | number: '1.0-0'}} kcal</p>
            </div>
          </div>
          <p class="result-control" (click)="removeItem(entry)">X</p>
        </li>
      </ul>
      <button *ngIf="addedItems.length > 0" class="mt1" type="button" (click)="onAddToSection()">add to section</button>
    </div>
    <div class="search-overlay-footer">
      <svg (click)="closeSearch()" class="toggler" width="28" height="28" viewBox="0 0 28 28">
        <line class="toggler-line" x1="1.29289" y1="26.7487" x2="26.7487" y2="1.29286" stroke="#112031" stroke-opacity="1" stroke-width="3"/>
        <line class="toggler-line" x1="26.7488" y1="27.1629" x2="1.29292" y2="1.70707" stroke="#112031" stroke-opacity="1" stroke-width="3"/>
      </svg>  
    </div>
  </div>
</div>
