<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm">
    <label class="input-field mt1">
      <span>username or mail</span>
      <input formControlName="user" type="text" placeholder="username or mail" spellcheck="false">
    </label>
    <label class="input-field mt1">
      <span>password</span>
      <input formControlName="password" type="password" placeholder="password" spellcheck="false">
    </label>
    <button [disabled]="!loginForm.valid" class="mt1" type="submit">login</button>
  </form>
  <div class="login-footer mt05">
    <a href="#">register</a>
    <a href="#">forgott password</a>
  </div>
</div>