<div class="dropdown-container" [ngClass]="style" (blur)="toggleDropdown()" [ngStyle]="isOpen === 'open' ? {'height': (values.length + 1) * 40 + 'px'} : {'height': '40px'}">
  <div (click)="toggleDropdown()" class="header">
    <p>{{selected['key']}}</p>
    <p>{{isOpen === 'open' ? '-' : '+'}}</p>
  </div>
  <ul *ngIf="isOpen === 'open'">
    <li *ngFor="let value of values; let i = index" (click)="selectOption(value)">
      <p>{{value['key']}}</p>
      <p *ngIf="value['key'] !== value['value']">{{value['value']}}</p>
    </li>
  </ul>
</div>