@import '../../../../sass/_variables'

:host
  width: 100%
  height: auto
  .tracking-section-container
    width: 100%
    height: 300px
    background: white
    box-shadow: $shadow
    margin-bottom: $rem

@media (min-width: $query-small)
:host
  .tracking-section-container
    max-width: 600px