<div class="user-panel-container">
  <getfit-date-picker></getfit-date-picker>
  <getfit-tracking-section [section]="'Breakfast'" (openSearchOverlay)="onOpenSearchOverlay()"></getfit-tracking-section>
  <getfit-tracking-section [section]="'Lunch'" (openSearchOverlay)="onOpenSearchOverlay()"></getfit-tracking-section>
  <getfit-tracking-section [section]="'Dinner'" (openSearchOverlay)="onOpenSearchOverlay()"></getfit-tracking-section>
  <getfit-tracking-section *ngIf="settingsState === 'closed'" [section]="'Snacks'" (openSearchOverlay)="onOpenSearchOverlay()"></getfit-tracking-section>
</div>
<!-- <getfit-search-overlay *ngIf="searchState === 'open'"></getfit-search-overlay>
<getfit-user-settings *ngIf="settingsState === 'open'" [settingsState]="settingsState" (onSettingClose)="closeSettings($event)"></getfit-user-settings> -->
