<getfit-user-settings></getfit-user-settings>
<div class="user-panel-container">
  <getfit-date-picker (selectedDateChanged)="onSelectedDateChanged($event)"></getfit-date-picker>
  <getfit-tracking-section [entries]="entryData.breakfast" [section]="'Breakfast'" (openSearchOverlay)="onOpenSearchOverlay()"></getfit-tracking-section>
  <getfit-tracking-section [entries]="entryData.lunch" [section]="'Lunch'" (openSearchOverlay)="onOpenSearchOverlay()"></getfit-tracking-section>
  <getfit-tracking-section [entries]="entryData.dinner" [section]="'Dinner'" (openSearchOverlay)="onOpenSearchOverlay()"></getfit-tracking-section>
  <getfit-tracking-section [entries]="entryData.snack" *ngIf="settingsState === 'closed'" [section]="'Snacks'" (openSearchOverlay)="onOpenSearchOverlay()"></getfit-tracking-section>
</div>
<getfit-search-overlay *ngIf="searchState === 'open'"></getfit-search-overlay>
