<getfit-user-settings></getfit-user-settings>
<div class="user-panel-container">
  <getfit-date-picker (selectedDateChanged)="onDateChanged($event)"></getfit-date-picker>
  <getfit-tracking-section [entries]="entries.breakfast" [section]="'breakfast'" (openingSearch)="onOpenSearchOverlay($event)"></getfit-tracking-section>
  <getfit-tracking-section [entries]="entries.lunch" [section]="'lunch'" (openingSearch)="onOpenSearchOverlay($event)"></getfit-tracking-section>
  <getfit-tracking-section [entries]="entries.dinner" [section]="'dinner'" (openingSearch)="onOpenSearchOverlay($event)"></getfit-tracking-section>
  <getfit-tracking-section [entries]="entries.snack" *ngIf="settingsState === 'closed'" [section]="'snack'" (openingSearch)="onOpenSearchOverlay($event)"></getfit-tracking-section>
</div>
<getfit-search-overlay [currentDate]="selectedDate" [overlaySection]="selectedSection" [overlayState]="searchState" (closeOverlay)="toggleOverlay($event)" (entriesAdded)="onEntriesAdded()"></getfit-search-overlay>
